* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 80px;
}
body {
  margin: 0;
}

.item {
  display: flex;
  padding: 1rem;
  background-color: #d3d3d3;
  justify-content: space-between;
  align-items: center;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.container {
  padding: 3rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

input {
  width: 100%;
  font-size: 1.15rem;
  padding: 0.3rem;
  margin-block: 3rem;
}
